@font-face {
    src: url(../fonts/FredokaOne-Regular.ttf);
    font-family: fredokaone;
}

@font-face {
    src: url(../fonts/JetBrainsMono-Light.ttf);
    font-family: jetbrainsmono;
}

@font-face {
    src: url(../fonts/Poppins-Medium.ttf);
    font-family: PoppinsMedium;
}

@font-face {
    src: url(../fonts/Montserrat-Medium.ttf);
    font-family: MontserratMedium;
}

:root {
    --main-color-1: #fff;
    --main-color-2: #222;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
}

a,
a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin-bottom: 0 !important;
}

.btn:focus {
    box-shadow: none;
}

/* preloader part start */
.preloader {
    width: 100%;
    height: 100vh;
    background: #000;
    font-family: monospace;
}

.pace {
    pointer-events: none;
    user-select: none;
    z-index: 10000;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    border: 0;
    height: 1px;
    overflow: hidden;
    background: #fff;
}

.pace .pace-progress {
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);
    max-width: 400px;
    position: absolute;
    z-index: 10000;
    display: block;
    top: 0;
    left: 10px;
    height: 100%;
    width: 100%;
    background: gray;
}

.pace.pace-inactive {
    display: none;
}

#preloader {
    width: 100%;
    height: 100vh;
    background: #101010;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.loader-text {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    color: #fff;
}

/* preloader part end */

/* header part */
.bg_color {
    width: 100%;
    height: auto;
    background: rgba(52, 49, 49, 0.8);
    transition: background 1s ease 0s;
    -webkit-box-shadow: -1px 9px 15px 2px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 9px 15px 2px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand img{
    height: 42px;
}

.navbar .manubar-coll ul > li > a {
    font-size: 15px;
    font-family: fredokaone;
    position: relative;
    color: #ffffff !important;
}

.navbar .navbar-nav .nav-link::after {
    position: absolute;
    content: '';
    top: 2.2rem;
    height: 2px;
    width: 0px;
    left: 0;
    background-color: var(--main-color-1);
    text-decoration: none;
}

.navbar .navbar-nav .nav-link:hover::after,
.navbar .navbar-nav .nav-link:active::after {
    width: min(100%, 50vw);
    transition: 0.3s ease all;
}

.navbar .manubar-coll ul li.active a::after,
.navbar .manubar-coll ul li.active a:active::after {
    position: absolute;
    content: '';
    top: 2.2rem;
    height: 2px;
    width: min(100%, 50vw);
    left: 0;
    background-color: var(--main-color-1);
    text-decoration: none;
    transition: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler .navbar-toggler-icon {
    width: 30px;
    height: 2px;
    background-color: var(--main-color-1);
    margin-bottom: 5px;
    background-image: none;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: var(--main-color-1);
    border-radius: 5px;
    right: 12px;
    transition: all .5s ease-in-out;
}

.navbar-toggler-icon::before {
    transform: translateY(-10px);
}

.navbar-toggler-icon::after {
    transform: translateY(10px);
}

.menu-btn {
    position: relative;
    transition: all .5s ease-in-out;
}

.menu-btn.open .navbar-toggler-icon {
    transform: translateX(-33px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .navbar-toggler-icon::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .navbar-toggler-icon::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


/* home part start */
#home {
    width: 100%;
    height: 100vh;
}

#particles-js {
    width: 100%;
    height: 100vh;
}

.banner-img-1 {
    background: url(../images/trivo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.single-item .banner-item-1.slick-active {
    animation: Slick-zoomOutImage 1s both;
}

.single-item .banner-item-2.slick-active {
    animation: Slick-zoomOutImage 1s both;
}

.single-item .banner-item-3.slick-active {
    animation: Slick-zoomOutImage 1s both;
}

@keyframes Slick-zoomInImage {
    from {
        transform: scale3d(1, 1, 1);
        transition: 1s;
    }

    to {
        transform: scale3d(1.1, 1.1, 1.1);
        transition: 1s;
    }
}

.banner-img-2 {
    background: url(../images/trivo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;


}


@keyframes Slick-zoomOutImage {
    from {
        transform: scale3d(1.1, 1.1, 1.1);
        transition: 1s;
    }

    to {
        transform: scale3d(1, 1, 1);
        transition: 1s;
    }
}

.banner-img-3 {
    background: url(../images/trivo3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.banner-text-part {
    position: absolute;
    bottom: 177px;
    left: 0;
    width: 100%;
    color: #fff;
}

.banner-text-part h2 {
    font-size: 4rem;
    font-family: Quicksand, "Segoe UI", sans-serif;
}

.banner-text-part p {
    font-size: 5rem;
    font-family: Quicksand, "Segoe UI", sans-serif;
    font-weight: bold;
}

.banner-text-part span {
    font-size: 5rem;
    font-weight: bold;
    font-family: Quicksand, "Segoe UI", sans-serif;
    color: #f2f2f2;
}


.single-item .banner-item.slick-active h2 {
    animation: fadeInUp 1s both 1s;
}

.single-item .banner-item.slick-active p {
    animation: fadeInUp 1s both 1s;
}

.animated {
    transition: all .5s ease;
}

.slick-dots {
    position: absolute;
    bottom: 25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    position: relative;
    background: none;
    border: 2px solid #fff;
    width: 50px;
    height: 3px;
    padding: 0;
    font-size: 0;
}

.slick-dots li .slick-active button {
    background: #ffffff;
    border: none;
}

.slick-carousel {
    display: none;
}

.slick-carousel.slick-initialized {
    display: block;
}

.slick-test .slick-track {
    background-color: transparent !important;
}

/* downarrow */
.downarrow a {
    position: absolute;

    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    color: #fff;
    width: 30px;
    height: 55px;
    margin-left: -23px;
    border: 2px solid #fff;
    border-radius: 50px;
}

.downarrow a span {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 13px;
    height: 13px;
    margin: -9px 0 0 -7px;
    border-left: 3px solid var(--main-color-1);
    border-bottom: 3px solid var(--main-color-1);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    animation: sdb07 2s infinite;
    -webkit-animation: sdb07 2s infinite;
}

.downarrow a:hover {
    opacity: .7;
}

.downarrow a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.downarrow a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.downarrow a span:nth-of-type(3) {
    top: 36px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb07 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* home part end*/


/* about part start */
.about {
    overflow-x: hidden;
}

.about h2 {
    font-size: 3rem;
    font-weight: 900;
    font-family: fredokaone;
}

.circular-portrail img {
    width: min(100%, 310px);
    height: 310px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    display: block;
}

/* about part end */


/* service part start */
.service-part {
    background: url(../images/servic-black-background.jpg);
    background-attachment: fixed;
    opacity: 0.8;
    overflow-y: hidden;
}

.service-part h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #f2f2f2;
    font-family: fredokaone;
}

.service-card {
    width: min(100%, 20em);
    margin-left: 2em;
    background-color: transparent;
    border: 2px solid #fff;
}

.service-card .service-card-img-top {
    width: 64px;
    height: 164px;
    object-fit: contain;
    display: block;
    margin: auto;
}

.service-card-body {
    position: relative;
    cursor: default;
}

.service-card-title {
    color: var(--main-color-1);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.service-card-title::after {
    content: "";
    position: absolute;
    top: 55px;
    height: 2px !important;
    width: 100px;
    left: 35%;
    background-color: var(--main-color-1);
    transition: 0.4s ease-out all .1s;
}

.service-card:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.service-card:hover .service-card-title::after {
    width: 60%;
    left: 20%;
    transition: 0.5s ease all;
}

.service-card-text {
    color: #f2f2f2;
    text-align: center;
    padding-top: 20px;
}

/* service part end */


/* client part start */
.client-part {
    overflow-y: hidden;
    position: relative;
}

.client-part h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #222222;
    font-family: fredokaone;
}

.client-carousel .control {
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
    top: 50%;
    font-size: 3rem;
}

.prev {
    left: 5.75rem;
}

.next {
    right: 5.75rem;
}

.client-card {
    border: 0;
}

.client-card h5 {
    font-size: 25px;
    font-weight: 700;
}

.slick-slide img {
    display: block;
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    top: 15px;
}

.client-part .slick-slide p {
    padding-top: 55px;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.slide-arrow {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    font-family: "Font Awesome 5 Free";
    font-size: 3rem;
    color: var(--main-color-2);
    font-weight: 700;
}

.next-arrow {
    right: -25px;
}

.prev-arrow {
    left: -25px;
}

/* client part end */

/* contact part start */
.contact-part {
    background: #f5f5f5;
    color: #222222;
    overflow-x: hidden;
}

.contact-part h2 {
    font-size: 3rem;
    font-weight: 900;
    padding-right: 8rem;
    font-family: fredokaone;
}

.contact-text {
    padding-top: 3rem;
}

.form_control_part {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    border: none;
}

.form_control_part label {
    display: inline-block;
    margin-bottom: 5px;
}

.form_control_part input {
    border: 2px solid #dddddd;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form_control_part .control:focus {
    outline: 0;
    border-color: var(--main-color-2);

}

.control:focus {
    box-shadow: none;
}

.form_control_part.success input {
    border: 2px solid #dddddd;
}

.form_control_part.error input {
    border-color: #e74c3c;
}

.form_control_part textarea {
    border: 2px solid #dddddd;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control.success textarea {
    border: 2px solid #f0f0f0;
}

.form_control_part.error textarea {
    border-color: #e74c3c;
}

.form_control_part small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 8px;
    visibility: hidden;
}

.form_control_part.error small {
    visibility: visible;
}

#contact .btn-custom {
    margin: 30px 0;
    background: transparent;
    border: 2px solid var(--main-color-2);
    color: var(--main-color-2);
    text-transform: uppercase;
    font-weight: bolder;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

#contact .btn-custom:hover {
    background: var(--main-color-2);
    color: #ffffff;
}

.alert.show {
    display: block;
    text-align: center;
}

.alert.hide {
    display: none;
}

.contact-text ul {
    padding-left: 8.5rem;
    margin-top: 3em;
}

.contact-text ul li:nth-last-child(4) {
    font-weight: bold;
    color: var(--main-color-2);
}

.contact-text ul li:nth-last-child(2) {
    margin-top: 2em;
    font-weight: bold;
    color: var(--main-color-2);
}

.contact-icon {
    position: relative;

}

.contact-icon i {
    position: absolute;
    font-size: 27px;
    left: 5.5rem;
    color: var(--main-color-2);
}

.contact-icon .far {
    top: 3.2rem;
}

.contact-icon .fas {
    top: 8.5rem;
}

.form-label {
    font-size: 1.5em;
    font-weight: 600;
}

textarea {
    resize: none;
}

/* contact part end */

/* footer part start */
footer ul {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    display: flex;
}

footer ul li {
    list-style: none;
    margin: 0 8px;
}

footer ul li .fab {
    font-size: 25px;
    line-height: 50px;
}

footer ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 24px;
    line-height: 52px;
    text-align: center;
    transition: all linear 0.5s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transform: translate(0, 0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
    color: var(--main-color-2);
}

footer ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
    background: var(--main-color-2);
    color: #fff;
}

footer {
    width: 100%;
    background: rgba(52, 49, 49, 0.8);
    color: #fff;
    padding: 2em;
    font-size: 1.2rem;
}

/* footer part end */

@media only screen and (min-width: 320px) and (max-width: 340px) {

    .navbar-brand {
        margin: 0px;
    }
    
    .navbar .navbar-brand img{
        height: 35px;
    }

    .bg_color {
        box-shadow: none;
    }

    .navbar .manubar-coll ul.manubar-nav {
        width: 100%;
        height: 100vh;
        margin-top: 8px;
        position: absolute;
        left: 0;
        background-color: rgba(52, 49, 49, 0.9);
        border-top: 0.3rem solid #f2f2f2;
    }

    .navbar .manubar-coll ul li a {
        margin: 15px;
        font-size: 20px;
    }

    .navbar .manubar-coll ul li.active a::after,
    .navbar .navbar-nav .nav-link::after,
    .navbar .manubar-coll ul li.active a:active::after,
    .navbar .navbar-nav .nav-link:active::after {
        top: 3rem;
        left: 20%;
    }

    .banner-text-part {
        bottom: 8rem;
    }

    .banner-text-part h2 {
        font-size: 3rem;
    }

    .banner-text-part p {
        font-size: 3.5rem;
    }

    .banner-text-part span {
        font-size: 3.5rem;
    }

    .contact-part h2 {
        display: none;
    }

    .contact-info::before {
        content: "Contact";
        font-size: 3rem;
        font-weight: 900;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 3rem;
        font-family: fredokaone;
    }

    .contact-text {
        padding-top: 0;
    }

    .contact-table {
        margin-top: 3px;
    }

    .contact-text ul {
        padding-left: 5.5em;
    }

    .contact-icon i {
        left: 2.3rem;
    }

    footer ul {
        left: 45%;
    }
    
    footer ul li{
        margin: 0 6px;
    }

    footer ul li a {
        width: 45px;
        height: 45px;
    }

    footer ul li .fab {
        font-size: 30px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
    .bg_color {
        box-shadow: none;
    }

    .navbar .manubar-coll ul.manubar-nav {
        width: 100%;
        height: 100vh;
        margin-top: 8px;
        position: absolute;
        left: 0;
        background-color: rgba(52, 49, 49, 0.9);
        border-top: 0.3rem solid #f2f2f2;
    }

    .navbar .manubar-coll ul li a {
        margin: 20px;
        font-size: 20px;
    }

    .navbar .manubar-coll ul li.active a::after,
    .navbar .navbar-nav .nav-link::after,
    .navbar .manubar-coll ul li.active a:active::after,
    .navbar .navbar-nav .nav-link:active::after {
        top: 3rem;
        left: 20%;
    }

    .banner-text-part {
        bottom: 16rem;
    }

    .banner-text-part h2 {
        font-size: 3rem;
    }

    .banner-text-part p {
        font-size: 3.5rem;
    }

    .banner-text-part span {
        font-size: 3.5rem;
    }

    .contact-part h2 {
        display: none;
    }

    .contact-info::before {
        content: "Contact";
        font-size: 3rem;
        font-weight: 900;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 3rem;
        font-family: fredokaone;
    }

    .contact-text {
        padding-top: 0;
    }

    .contact-table {
        margin-top: 3px;
    }

    .contact-text ul {
        padding-left: 5.5em;
    }

    .contact-icon i {
        left: 2.3rem;
    }

    footer ul {
        left: 49%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 736px) {

    .navbar .manubar-coll ul.manubar-nav {
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        background-color: rgba(52, 49, 49, 0.9);
        margin-top: 0px;
        border-top: 0.3rem solid #f2f2f2;
    }

    .navbar .manubar-coll ul li a {
        margin: 3px;
        font-size: 15px;
    }

    .navbar .manubar-coll ul li.active a::after,
    .navbar .navbar-nav .nav-link::after,
    .navbar .manubar-coll ul li.active a:active::after,
    .navbar .navbar-nav .nav-link:active::after {
        top: 2.5rem;
        left: 25%;
    }

    .downarrow a {
        bottom: 1px;
    }

    .banner-text-part {
        bottom: 100px;
    }

    .banner-text-part h2 {
        font-size: 2.4rem;
    }

    .banner-text-part p {
        font-size: 3rem;
    }

    .banner-text-part span {
        font-size: 3rem;
    }

    .contact-part h2 {
        display: none;
    }

    .contact-info::before {
        content: "Contact";
        font-size: 3rem;
        font-weight: 900;
        display: flex;
        justify-content: center;
        font-family: fredokaone;
    }

    .contact-text {
        padding-top: 0;
    }

    .contact-table {
        margin-top: 20px;
    }

    .contact-text ul {
        padding-left: 5.5em;
    }

    .contact-icon i {
        left: 2.5rem;
    }
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
    .navbar .manubar-coll ul li a {
        margin: 3px;
        font-size: 15px;
    }
    
    .navbar .manubar-coll ul li.active a::after,
    .navbar .navbar-nav .nav-link::after,
    .navbar .manubar-coll ul li.active a:active::after,
    .navbar .navbar-nav .nav-link:active::after {
        top: 2.5rem;
        left: 25%;
    }
}

@media only screen and (min-width: 740px) and (max-width: 750px) {

    .navbar .manubar-coll ul.manubar-nav {
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        background-color: rgba(52, 49, 49, 0.9);
        margin-top: 0px;
        border-top: 0.3rem solid #f2f2f2;
    }

    .navbar .manubar-coll ul li a {
        margin: 3px;
        font-size: 15px;
    }

    .navbar .manubar-coll ul li.active a::after,
    .navbar .navbar-nav .nav-link::after,
    .navbar .manubar-coll ul li.active a:active::after,
    .navbar .navbar-nav .nav-link:active::after {
        top: 2.5rem;
        left: 25%;
    }

    .downarrow a {
        bottom: 1px;
    }

    .banner-item-1 {
        background-size: cover;
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .banner-item-2 {
        background-size: cover;
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .banner-item-3 {
        background-size: cover;
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }


    .banner-text-part {
        bottom: 100px;
    }

    .banner-text-part h2 {
        font-size: 2.4rem;
    }

    .banner-text-part p {
        font-size: 3rem;
    }

    .banner-text-part span {
        font-size: 3rem;
    }

}

@media only screen and (min-width: 768px) and (max-width: 790px) {

    .navbar .manubar-coll ul li.active a::after,
    .navbar .navbar-nav .nav-link::after,
    .navbar .manubar-coll ul li.active a:active::after,
    .navbar .navbar-nav .nav-link:active::after {
        top: 2.5rem;
        left: 25%;
    }

    .navbar .manubar-coll ul.manubar-nav {
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        background-color: rgba(52, 49, 49, 0.9);
        margin-top: 3px;
        border-top-style: solid;
        border-top-color: #f2f2f2;
    }

    .navbar .manubar-coll ul li a {
        margin: 15px;
        font-size: 18px;
    }

    .banner-text-part {
        bottom: 45%;
    }

    .service-card-title::after {
        left: 28%;
    }

    .contact-part h2 {
        display: none;
    }

    .contact-info::before {
        content: "Contact";
        font-size: 3rem;
        font-weight: 900;
        display: flex;
        justify-content: center;
        font-family: fredokaone;
        position: relative;
        bottom: 3rem;
    }

    .contact-text {
        padding-top: 0;
    }

    .contact-table {
        margin-top: 20px;
    }

    .contact-text ul {
        padding-left: 4.5em;
    }

    .contact-icon i {
        left: 1.3rem;
    }
}

@media only screen and (min-width: 800px) and (max-width: 960px) {

    .navbar .manubar-coll ul.manubar-nav {
        width: 100%;
        height: 100vh;
        margin-top: 8px;
        position: absolute;
        left: 0;
        background-color: rgba(52, 49, 49, 0.9);
        border-top: 0.3rem solid #f2f2f2;
    }

    .navbar .manubar-coll ul li a {
        font-size: 16px;
        margin: 5px 0 0 0;
    }

    .navbar .manubar-coll ul li.active a::after,
    .navbar .navbar-nav .nav-link::after,
    .navbar .manubar-coll ul li.active a:active::after,
    .navbar .navbar-nav .nav-link:active::after {
        top: 2.5rem;
        left: 25%;
    }

    .banner-text-part {
        bottom: 25%;
    }

    .banner-text-part h2 {
        font-size: 2.3rem;
    }

    .banner-text-part p {
        font-size: 3rem;
    }

    .banner-text-part span {
        font-size: 3rem;
    }

    .service-card-title::after {
        left: 3.5rem;
    }

    .contact-part h2 {
        display: none;
    }

    .contact-info::before {
        content: "Contact";
        font-size: 3rem;
        font-weight: 900;
        display: flex;
        justify-content: center;
        font-family: fredokaone;
        position: relative;
        bottom: 3rem;
    }

    .contact-text {
        padding-top: 0;
    }

    .contact-table {
        margin-top: 20px;
    }

    .contact-text ul {
        padding-left: 4.5em;
    }

    .contact-icon i {
        left: 1.3rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1080px) {
    .contact-part h2 {
        padding-right: 4rem;
    }
}
